<% include partials/header %>
  <div class="container-fluid">
    <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <h3 id="jobId">Job #12345</h3>
    <br>
    <fieldset class="form-group">
    <textarea class="form-control" id="exampleTextarea" rows="5">XXXXXXX</textarea>
    </fieldset>
    <!-- <a href="#" class="btn btn-secondary center-block"><i class="fa fa-camera"></i> Take a picture </a> -->
   <!--  <input type="file" accept="image/*"> -->
    <div class="row text-center">
      <div class="fileUpload btn btn-secondary">
          <span id="take_picture"><i class="fa fa-camera"></i> Take a picture </span>
          <input type="file" class="upload" accept="image/*">
      </div>
    </div>
    <div class="row text-center">
      <a href="/details" class="btn btn-primary">Next</a>
    </div>
    </div>
  </div>


  </body>

</html>